#main-content {
    padding-top: 3%;
    padding-bottom: 10%;
}

.gallery {
    font-size: large;
    font-weight: lighter;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(2px 2px 2px  #);
    filter: drop-shadow(2px 2px 2px #a3aab6);
}

.gallery:hover {
    -webkit-filter: drop-shadow(5px 5px 5px  #) grayscale(30%) brightness(90%);
    filter: drop-shadow(5px 5px 5px #a3aab6) grayscale(30%) brightness(90%);
}

.responsive {
    padding: 4% 0.75% 2% 1.75%;
    display: inline-flex;
    width: 30%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 700px) {
    .responsive {
	width: 43%;
	padding: 2.5% 1.5% 3% 4%;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
	width: 92%;
	padding: 8% 1.5% 1% 4%;
    }
}
