* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    overflow-y: visible;
    background: #cccbc1;
    overscroll-behavior: none;
    display: flex;
    flex-direction: column;
}


/*---------------------------*/
/*          Banner           */
/*---------------------------*/
#header {
    background-color: #c3cce9;
    width: 100%;
}

#header .bg-img {
    position: relative;
    background-image: url("assets/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .content{
    text-align: center;
    position: relative;
}

#header h1 {
    font-weight: normal;
    position: relative;
    padding-top: 10px;
    margin: 0;
    font-size: xxx-large;
}

/*---------------------------*/
/*      Navigation Bar       */
/*---------------------------*/
#nav {
    width: 100%;
    margin: 0;
    padding: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    color: #12131d;
    background-color: #6a7991;
}

#nav li {
    float: left;
    width: 25%;
}

#nav a:hover {
    background-color: #585d8d;
    color: #c3cce9;
}

#nav a {
    display: block;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin: 2px 1.5px;
    background-color: #a5b1d3;
    color: #12131d;
    text-align: center;
    text-decoration: none;
}

#nav a.active {
    background-color: #eee88b;
    color: #12131d;
    cursor: not-allowed;
}

/*---------------------------*/
/*     Main Content          */
/*---------------------------*/
.row {
    width: 100%;
    display: inline-flex;
    perspective: 20px;
    flex: 1 1 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#main-content {
    width: 62%;
    min-height: 100%;
    color: #12131d;
    background-color: #e0e0e0;
    padding: 1% 5% 5% 5%;
    z-index: 1;
}

#left-column {
    top: 10px;
    width: 14%;
    height: 700px;
    position: sticky;
    overflow: hidden;
}

#right-column {
    top: 0;
    width: 14%;
    height: 700px;
    position: sticky;
    overflow: hidden;
}

#main-content a {
    font-size: larger;
    text-decoration: none;
}

a.disabled {
    text-decoration: none;
    color: #555555;
    cursor: not-allowed;
}

.footer {
    color: #12131d;
    height: 100px;
    padding-top: 50px;
    text-align: center;
    background-color: #a3aab6;
    flex: 0 0 100px;
}

p#copyright {
    padding: 0;
    font-size: small;
}

/*----------------------------*/
/*      Side post-its         */
/*----------------------------*/
#left-post-its {
    overflow: visible;
    transform: translate3d(-90px,0,-1px);
}

#right-post-its {
    padding-left: 75%;
    transform: translateZ(-1px);
    overflow: visible;
}

.post-its {
    position: relative;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    overflow: visible;
}

#left-post-it-1::before {
    content: "";
    position: absolute;
    margin-top: -350px;
    margin-left: -450px;
    width: 1000px;
    height: 1000px;
    z-index: -3;
    background: url("assets/post-its/dj-table.jpg") 0 0 no-repeat;
    transform: scale(0.21)  rotate(-48.5deg);
}

#left-post-it-2::before {
    content: "";
    position: absolute;
    margin-top: -220px;
    margin-left: -420px;
    width: 1000px;
    height: 1000px;
    z-index: -1;
    background: url("assets/post-its/body-wires.jpg") 0 0 no-repeat;
    transform: scale(0.21)  rotate(9.5deg);
}

#left-post-it-3::before {
    content: "";
    position: absolute;
    margin-top: -70px;
    margin-left: -470px;
    width: 1000px;
    height: 1000px;
    z-index: -2;
    background: url("assets/post-its/sad-bar.jpg") 0 0 no-repeat;
    transform: scale(0.21)  rotate(-7deg);
}

#left-post-it-4::before {
    content: "";
    position: absolute;
    margin-top: 60px;
    margin-left: -420px;
    width: 1000px;
    height: 1000px;
    z-index: -3;
    background: url("assets/post-its/drink-table.jpg") 0 0 no-repeat;
    transform: scale(0.21)  rotate(8.5deg);
}

#right-post-it-1::before {
    content: "";
    position: absolute;
    margin-top: -350px;
    margin-left: -420px;
    width: 1000px;
    height: 1000px;
    z-index: -3;
    background: url("assets/post-its/dj.jpg") 0 0 no-repeat;
    transform: scale(0.21)  rotate(1.5deg);
}

#right-post-it-2::before {
    content: "";
    position: absolute;
    margin-top: -270px;
    margin-left: -380px;
    width: 1000px;
    height: 1000px;
    z-index: -2;
    background: url("assets/post-its/mini-bot.jpg") 0 0 no-repeat;
    transform: scale(0.21)  rotate(-27.9deg);
}

#right-post-it-3::before {
    content: "";
    position: absolute;
    margin-top: -165px;
    margin-left: -430px;
    width: 1000px;
    height: 1000px;
    z-index: -1;
    background: url("assets/post-its/maker.jpg") 0 0 no-repeat;
    transform: scale(0.21)  rotate(-9.8deg);
}

#right-post-it-4::before {
    content: "";
    position: absolute;
    margin-top: -50px;
    margin-left: -385px;
    width: 1000px;
    height: 1000px;
    z-index: -3;
    background: url("assets/post-its/neck.jpg") 0 0 no-repeat;
    transform: scale(0.21)  rotate(7.4deg);
}

#right-post-it-5::before {
    content: "";
    position: absolute;
    margin-top: 100px;
    margin-left: -385px;
    width: 1000px;
    height: 1000px;
    z-index: -1;
    background: url("assets/post-its/samurai.jpg") 0 0 no-repeat;
    transform: scale(0.21)  rotate(28.2deg);
}

/*---------------------------*/
/*        Responsive         */
/*---------------------------*/
@viewport {
  width: device-width;
  zoom: 1.0;
}

@media only screen and (orientation: portrait) {
    #left-column, #right-column {
	min-height: 10vh;
    }
}

@media only screen and (max-width: 900px) {
    #main-content {
	width: 73%;
	padding: 1% 4.5% 5% 4.5%;
    }
    #left-column,#right-column {
	width: 9%;
	height: 0.1%;
    }
    .post-its {
	visibility: hidden;
    }
}

@media only screen and (max-width: 640px) {
    #header .bg-img{	
	background-size: cover;
    }
}

@media screen and (max-width: 600px) {
    #nav li {
	width: 100%;
    }
    #nav a{
	margin: 1px 2px;
    }
    #nav ul {
	padding: 1px 0;
    }
    #nav {
	position: relative;
    }
}

/* when the viewport is smaller than the banner*/
@media only screen and (max-width: 450px) {
    #header .bg-img {
	position: relative;
    }
}

/* when the title text wraps */
@media only screen and (max-width: 383px) {
    #header .bg-img {
	background-position: center -20px;
    }
    #main-content {
	width: 88%;
	padding: 1% 6% 5% 6%;
    }
    #left-column,#right-column {
	width: 0;
    }
}
