h2#title {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: xx-large;
}

ul.link-list {
    font-size: large;
    list-style: square;
    padding-top: 1%;
    padding-bottom: 90%;
}

ul.link-list>li {
    padding: 2% 0;
}
